<?xml version="1.0" encoding="UTF-8"?>
<Wix xmlns="http://schemas.microsoft.com/wix/2006/wi">
  <Product Id="*" Name="UnFolder" Language="1033" Version="1.0.0.0"
           Manufacturer="Boundless Synergy"
           UpgradeCode="6C4A524D-7805-4BF6-AC81-65A381A20000">
    <Package InstallerVersion="200" Compressed="yes" InstallScope="perUser" />
    <Property Id="MsiLogging" Value="v" />
    <Property Id="ALLUSERS" Secure="yes" Value="2"/>
    <Property Id="MSIINSTALLPERUSER" Secure="yes" Value="1" />
    <MajorUpgrade
      DowngradeErrorMessage="A newer version of [ProductName] is already installed." />
    <Media Id="1" Cabinet="Cab1" EmbedCab="yes" />
    <Feature Id="ProductFeature" Title="[ProductName] Setup" Level="1">
      <Component Id="ProductComponent"
                 KeyPath="yes"
                 Guid="6C4A524D-7805-4BF6-AC81-65A381A20001"
                 Directory="INSTALLFOLDER">
        <File Source="$(var.UnFolder.TargetPath)" />
      </Component>
      <Component Id="RegistryEntries"
                 Guid="6C4A524D-7805-4BF6-AC81-65A381A20002"
                 Directory="ProgramFilesFolder">
        <RemoveFolder Id="RemoveThisFolder" On="uninstall" />
        <!-- 
         [HKEY_CURRENT_USER\Software\Classes\directory\background\shell\Unload Folder]
         @="Unload Folder"
         [HKEY_CURRENT_USER\Software\Classes\directory\background\shell\Unload Folder\command]
         @="C:\Users\smerri\AppData\Local\Programs\Boundless Synergy\UnFolder\UnFolder.exe"
        -->
        <RegistryKey Root="HKCU"
                     Key="Software\Classes\directory\background\shell\Unload Folder" 
                     ForceDeleteOnUninstall="yes">
          <RegistryValue Type="string"
                         Value="Unload Folder"/>
          <RegistryKey Key="command">
            <RegistryValue Type="string"
                           Value="%localappdata%\Programs\Boundless Synergy\Unfolder\UnFolder.exe %1" />
          </RegistryKey>
        </RegistryKey>
        <RegistryKey Root="HKCU"
                     Key="Software\Classes\directory\background\shell\Unload All Folders" 
                     ForceDeleteOnUninstall="yes">
          <RegistryValue Type="string"
                         Value="Unload All Folders"/>
          <RegistryKey Key="command">
            <RegistryValue Type="string"
                           Value="%localappdata%\Programs\Boundless Synergy\Unfolder\UnFolder.exe /a %1" />
          </RegistryKey>
        </RegistryKey>
      </Component>
    </Feature>
  </Product>

  <Fragment>
    <Directory Id="TARGETDIR" Name="SourceDir">
      <Directory Id="ProgramFilesFolder">
        <Directory Id="AppRootDirectory" Name="Boundless Synergy">
          <Directory Id="INSTALLFOLDER" Name="UnFolder" >
            <!-- %localappdata%\Programs\Boundless Synergy\Unfolder\ -->
          </Directory>
        </Directory>
      </Directory>
    </Directory>
  </Fragment>
</Wix>
